<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<style>
#app {display: flex;justify-content:center;}
.wrapper {
  width: 514px;
  margin-top: 56px;
  box-sizing: border-box;
  padding: 31px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.form-row{
  margin-bottom: 15px;
}
h2{
  margin-bottom: 12px;
}
.btn{
margin-top: 11px;
}
</style>
<script type="text/babel">
class App extends React.Component {
  constructor(props){
    super(props)
  }
  // MARK: React.Component override
  render () {
        return (
          <div class="wrapper">

    <form>
    <h2>Predict</h2>
      <div class="form-row">
              <div class="col-6">
                <label >Origin</label>
                <input type="email" class="form-control" id="origin" placeholder="ATL" />
              </div>
              <div class="col-6">
                <label >Destination</label>
                <input type="password" class="form-control" id="destination" placeholder="BOS"/>
              </div>

      </div>
      <div class="form-row">
      <div class="col-4">
        <label >Carrier</label>
        <input type="password" class="form-control" id="carrier" placeholder="DL"/>
      </div>
              <div class="col-4">
                <label >Date</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="12/12"/>
              </div>
              <div class="col-4">
                <label >Hour</label>
                <input  class="form-control" id="hour" placeholder="16"/>
              </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

        );
  }
}





ReactDOM.render(
  <App/>,
  document.getElementById('app')
);
</script>
{{ test  |safe }}

<div id="app"/>
