<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<style>
#app {display: flex;align-items:center;  flex-direction:column;}
#predicWrapper {
  width: 514px;
  margin-top: 56px;
  box-sizing: border-box;
  padding: 31px;
  padding-bottom: 46px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#predictionWrapper {
  width: 514px;
  margin-top: 56px;
  box-sizing: border-box;
  padding: 31px;
  padding-bottom: 46px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.form-row{
  margin-bottom: 15px;
}
h2{
  margin-bottom: 12px;
}
.btn{
margin-top: 11px;
}
</style>
<script type="text/javascript">


</script>
<script type="text/babel">
class App extends React.Component {
  // MARK: React.Component override
  constructor(props){
    super(props)
  }
  render () {
        return (
          <div>
            <div id="predicWrapper">
              <PredictController />
            </div>
            <div id="predictionWrapper">
              {this.props.prediction.value}
            </div>
          </div>
        );
  }
}
class PredictController extends React.Component {
  // MARK: public
  redirect(origin,destination,carrier,date_,hour){
    let date = date_.split('/')
    let day = date[0];
    let month = "";
    if (date.length > 1){
      month = date[1];
    }
    location.href = window.location.pathname +"?origin="+origin+"&destination="+destination+"&carrier="+carrier+"&day="+day+"&month="+month+"&hour="+hour;
  }
  onSubmit(event){
    event.preventDefault();
    this.redirect(this.originInput.value,this.destinationInput.value,this.carrierInput.value,this.dateInput.value,this.hourInput.value);
  }
  // MARK: React.Component override
  constructor(props){
    super(props)
    this.onSubmit = this.onSubmit.bind(this);
  }
  componentDidMount(){
    this.originInput.focus();
  }
  render(){
      return (
    <div>
        <h2>Predict</h2>
          <div class="form-row">
                  <div class="col-6">
                    <label >Origin</label>
                    <input class="form-control" placeholder="ATL" ref={(input) => this.originInput = input} />
                  </div>
                  <div class="col-6">
                    <label >Destination</label>
                    <input class="form-control" placeholder="BOS" ref={(input) => this.destinationInput = input}/>
                  </div>
          </div>
          <div class="form-row">
          <div class="col-4">
            <label >Carrier</label>
            <input class="form-control" placeholder="DL" ref={(input) => this.carrierInput = input}/>
          </div>
                  <div class="col-4">
                    <label >Date</label>
                    <input class="form-control" placeholder="12/12" ref={(input) => this.dateInput = input}/>
                  </div>
                  <div class="col-4">
                    <label >Hour</label>
                    <input  class="form-control"  placeholder="16" ref={(input) => this.hourInput = input}/>
                  </div>
          </div>
          <button type="submit" class="btn btn-primary" onClick={this.onSubmit}>Submit</button>
    </div>
    );
  }
}
let prediction = JSON.parse({{ prediction | tojson}});
// {"origin":"ATL","hour":16,"destinationCity":"CITY","destination":"BOS","value":4,"date":"2017-12-12","originCity":"CITY"}
console.log(JSON.stringify(prediction));
ReactDOM.render(
  <App prediction={prediction} />,
  document.getElementById('app')
);
</script>
<div id="app"/>
