<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<script>
function buttonClicked() {
    location.href = window.location.pathname +"?film_id="+ document.getElementById("input").value
}
$(document).ready(function(){
  $("#input").on('keyup', function (e) {
      if (e.keyCode == 13) {
          buttonClicked()
      }
  })
});

</script>
<style>
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
</style>
<input id="input" autofocus placeholder="Id de film">
<button onclick="buttonClicked()">OK</button>

{% if available %}
<h2 >Selected Movie:</h2>
<div >{{ movie |safe }}</div>
<h2 >Recommendation:</h2>
<div >{{ recommendation |safe }}</div>
{% else %}
<h2 >Sorry, we are not able to recommend you a movie based on the selected movie</h2>
{% endif %}
